*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --primary1-color: #495e57;
    --primary2-color: #F4ce14;
    --secondary1-color: #ee9972;
    --secondary2-color: #fbdabb;
    --secondary3-color: #edefee;
    --secondary4-color: #333333;

    /* Fonts */
    --font-family-primary: 'Helvetica Neue', Arial, sans-serif;
    --font-family-secondary: 'Times New Roman', Times, serif;
    --font-size-display: 4rem; /* equivalent to 64pt */
    --font-size-subTitle: 2.5rem; /* equivalent to 40pt */
    --font-size-leadText: 1.125rem; /* equivalent to 18pt */
    --font-size-sectionTitle: 1.25rem; /* equivalent to 20pt */
    --font-size-cardTitle: 1.125rem; /* equivalent to 18pt */
    --font-size-paragraph: 1rem; /* equivalent to 16pt */
    --font-size-highlight: 1rem; /* equivalent to 16pt */
}

html, body {
    font-size: 16px;
    min-height: 100%;
}

img {
  border-radius: 16px;
}

.about, .menu, .login, .order {
    background-color: var(--secondary3-color);
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}